/* Projects */
.custom-checkbox input#status+label>.statusSwitch:before,
.custom-checkbox input#status+label>.statusSwitch:after {
  border-radius: 10px;
  height: calc(100% - 6px);
  width: calc(50% - 3px);
  display: flex;
  align-items: center;
  position: absolute;
  justify-content: center;
  transition: all 0.3s ease;
}

.custom-checkbox input#status+label>.statusSwitch:before {
  background-color: var(--tertiary);
  color: var(--secondary);
  box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.2);
  left: 3px;
  z-index: 10;
  content: attr(data-unchecked);
}

.custom-checkbox input#status+label>.statusSwitch:after {
  right: 0;
  content: attr(data-checked);
}

.custom-checkbox input#status:checked+label>.statusSwitch {
  background-color: var(--secondary);
}

.custom-checkbox input#status:checked+label>.statusSwitch:after {
  left: 0;
  content: attr(data-unchecked);
}

.custom-checkbox input#status:checked+label>.statusSwitch:before {
  color: var(--secondary);
  left: 50%;
  content: attr(data-checked);
}
