@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Mukta&family=Titillium+Web&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #0F0028;
}

h1,
h2,
h3 {
  font-family: 'Titillium Web', sans-serif;
}

a,
p {
  font-family: 'Mukta', sans-serif
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* button {
  padding: 16px 64px;
  background-color: transparent;
  border: solid var(--tertiary);
  border-width: 2px 0px 2px 0px;
  font-size: 20px;
  margin: 0 20px;
  cursor: pointer;
  color: var(--white);
}

button a {
  text-decoration: none;
}

button:hover {
  padding: 16px 64px;
  background-color: var(--tertiary);
  color: var(--white);
  border: solid var(--tertiary);
  border-width: 2px 0px 2px 0px;
} */